<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task-3.2.xsd
    http://www.springframework.org/schema/jdbc   
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd  
    ">

	<!-- 认证服务 -->
	<bean id="authService" class="com.newroad.user.sns.service.user.AuthService">
		<property name="snsDao" ref="snsDao" />
		<property name="lenovost" ref="lenovost" />
		<property name="mobilAuth" ref="mobilAuth" />
		<property name="openAuthQQ" ref="openAuthQQ" />
		<property name="openAuthWeibo" ref="openAuthWeibo" />
		<property name="sessionService" ref="sessionService" />
	</bean>

	<!-- <bean id="openAuth" class="com.newroad.user.sns.service.login.OpenAuthIf"/> -->

	<!-- Lenovo认证服务 -->
	<bean id="lenovost" class="com.newroad.user.sns.service.login.LenovoSTLogin">
		<property name="analyzeMap">
			<map>
				<entry key="IdentityInfo">
					<bean
						class="com.newroad.user.sns.service.login.LenovoSTLogin$TokenResponseSuccessAnalyze" />
				</entry>
				<entry key="Error">
					<bean
						class="com.newroad.user.sns.service.login.LenovoSTLogin$TokenResponseErrorAnalyze" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="mobilAuth" class="com.newroad.user.sns.service.login.MobileAuthLogin" >
		<property name="snsDao" ref="snsDao" />
	</bean>

	<bean id="openAuthQQ" class="com.newroad.user.sns.service.login.OpenAuthQQLogin" />

	<bean id="openAuthWeibo"
		class="com.newroad.user.sns.service.login.OpenAuthWeiboLogin" />

    <bean id="openAuthWechat"
		class="com.newroad.user.sns.service.login.OpenAuthWechatLogin" />
</beans>